<%- include('header') -%> 
<%- include('navbar') -%>
<%- include('footer') -%>
<div class="mx-auto" style="width: 300px;">
    <h2>Academico</h2>
</div>




<p style="height: 100px;">
</p>
<%- include('pie') -%>