<%- include('header') -%> 
<%- include('navbar') -%>
<%- include('footer') -%>

<div class="mx-auto" style="width: 300px;">

    <h2> Nuestra Historia</h2>

</div>
<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi amet temporibus voluptates
                    exercitationem quaerat praesentium autem dolores, dolorem fugiat error est recusandae sit qui aut
                    veniam hic atque explicabo! Culpa.</p>
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-info">
            1989
        </button>
    </div>
</div>
<div class="row mt-3">
    <div class="col col-md-5">
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-info">
            1994
        </button>
    </div>
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body"></div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, optio molestias! Nulla ea cum at incidunt
                eum cupiditate deserunt corrupti nesciunt facere. Necessitatibus corporis repellendus commodi ab
                voluptatibus dolor distinctio!</p>
        </div>
    </div>

</div>
<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi amet temporibus voluptates
                    exercitationem quaerat praesentium autem dolores, dolorem fugiat error est recusandae sit qui aut
                    veniam hic atque explicabo! Culpa.</p>
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-info">
            1999
        </button>
    </div>
</div>
<div class="row mt-3">
    <div class="col col-md-5">
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-info">
            2004
        </button>
    </div>
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body"></div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, optio molestias! Nulla ea cum at incidunt
                eum cupiditate deserunt corrupti nesciunt facere. Necessitatibus corporis repellendus commodi ab
                voluptatibus dolor distinctio!</p>
        </div>
    </div>

</div>
<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi amet temporibus voluptates
                    exercitationem quaerat praesentium autem dolores, dolorem fugiat error est recusandae sit qui aut
                    veniam hic atque explicabo! Culpa.</p>
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-info">
            2009
        </button>
    </div>
</div>
<div class="row mt-3">
    <div class="col col-md-5">
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-info">
            2014
        </button>
    </div>
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body"></div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, optio molestias! Nulla ea cum at incidunt
                eum cupiditate deserunt corrupti nesciunt facere. Necessitatibus corporis repellendus commodi ab
                voluptatibus dolor distinctio!</p>
        </div>
    </div>

</div>
<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi amet temporibus voluptates
                    exercitationem quaerat praesentium autem dolores, dolorem fugiat error est recusandae sit qui aut
                    veniam hic atque explicabo! Culpa.</p>
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-info">
            2019
        </button>
    </div>
</div>

        

        
      
         