<div class="pie"> 

    <i class="fas fa-copyright"></i> 2020 Centro de Capacitación Técnica  |
    <i class="fas fa-map-marked-alt"></i> Mcal. sucre y La Paz  |
    <i class="fas fa-phone-alt"></i> +595 021 6343 411
</div>